
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: center;
    min-height: 400px; 
    align-items: center;
    background-color: rgb(148, 79, 216);
}


div{
    width: 100%;
    max-height:auto ;
}

.container{
    width: 100%;
    display: flex;
    min-width: 300px;
    
}

.login {
    width: 400px;
    background-color: white;
    margin: 0 auto;
    margin-top: 250px;


   /* margin-top: 300px;
    margin-left: 720px;
    */

}


form{
    width: 300px;
    margin: 50px auto;

}

h1{
    margin: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600px;
   
}

h2{
    margin: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600px;
   

}

form label{
    display: block;
    font-size: 16px;
    font-weight: 5px;
    padding: 5px;
}

input{
    width: 100%;
    border: none;
    outline: none;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 10px;
}

button{
    border: none;
    outline: none;
    color: white;
    background-color: rgb(233, 24, 59);
    padding: 6px;
    width: 100%;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;

}
.forgot{
    font-size: 16px;
    margin-top: 10px;
    float: right;

}

.login-link{
    font-size: 16px;
    margin-top: 10px;
    float: right;

}

a{
    text-decoration: none;
    color: orangered;
}

hr{
    border-top: 2px solid blueviolet;
    margin-bottom: 15px;
}

h4{
    text-align: center;
    margin-top: 50px;
}

.existedAccount{
    margin-top: 25px;
}

button a{
    color: white;
}