
@media  screen and (max-width: 1920px) {

    .image-box{
        height: 800px;
        width: 900px;
    }
    
    .test-image{
        height: 100%;
        width: 100%;
    
    }
    
    

    h2{
        text-align: center;
        font-size: large;
        color: rgb(228, 234, 104);
    }
    
    p{
        font-size: normal;
        color: rgb(207, 104, 148);
        text-align: center;
    }
    
    button{
        font-size: larger;
        color: rgb(218, 34, 49);
        padding: 10px 10px 10px 420px;
        background-color: cadetblue;
        display: flex;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
}

@media  screen and (max-width: 768px) {

    .image-box{
        height: 600px;
        width: 700px;
    }
    
    .test-image{
        height: 100%;
        width: 100%;
    
    }
    
    

    h2{
        text-align: center;
        font-size: large;
        color: rgb(210, 70, 38);
    }
    
    p{
        font-size: normal;
        color: rgb(104, 25, 38);
        text-align: justify;
    }
    
    button{
        font-size: larger;
        color: rgb(84, 221, 38);
        padding: 10px 10px 10px 275px;
        background-color: cadetblue;
        display: flex;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
}

