col-1{
    width: 8.33%;
}

.col-2{
    width: 16.66%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.32%;
}

.col-5{
    width: 41.65%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33%;
}

.col-8{
    width: 66.66%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33%;
}

.col-11{
    width: 91.66%;
}

.col-12{
    width: 100%;
}


[class*='col-']{
    display: flex;
    border: 1px solid black;
    float: left;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: aliceblue;
}

.header-height{
    height: 100px;
}

.logo-box{
    background-color: aquamarine;
    
}

.logo-box h1{
    text-align: center;
    font-size: 32px;
    color: rgb(85, 53, 15);
    font-weight: 800;
    margin-top: 30px;
    margin-left: 5px;
}

small{
    font-size: 12px;
    color: blueviolet;

}
.banner-box{
    background-color: rgb(192, 22, 201);
}

form{
    
    padding: 25px 0px 0px 80px;

}

input{
    height: 50px;
    width: 500px;
    border: 2px solid violet;
    border-radius: 5px;
    font-size: 20px;
}


span{
    margin-left: 400px;
    margin-top: 5px;
}

img {
    margin-left: 20px;
    padding-left: 30px;
    height: 80px;
    width: 80px;
}

.body-section{
    height: 600px;
}

.menu-column{
    padding: 80px 10px 10px 40px;
    background-color: darksalmon;
}

ul{
    color: chocolate;
    list-style: none;
    margin: 10px;
    font-size: 30px;
    font-weight: 600;

}

a{
    padding: 15px;
    text-decoration: none;
}


.content-box-section{
    justify-content: space-betweenss;
    border: none;
    padding: 10px;

}

.content-box{
    height: 200px;
    border: 1px solid black;
    
}

.content-heading{
    height: 60px;
    width: 600px;
}

.content-body{
    height: 400px;
}